<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img alt="Pokemon Logo" 
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
  />
</div>

<div class="content" role="main">

  <!-- Content main -->
  <h2>Listado de Pokemon</h2>

  <!-- Search section -->
  <div class="card-container">
    <div [formGroup]="searchForm">
      <label>
        <input type="text" formControlName="searchText" placeholder="Buscar"/> 
      </label>
    </div>
    <div class="spacer"></div>
    <button class="card card-small" routerLink="/create" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Nuevo</span>
    </button>
  </div>
  
  <!-- Table section -->
  <div class="card-container">
    <div class="table">
      <div class="row header">
        <div class="cell">Nombre</div>
        <div class="cell">Imagen</div>
        <div class="cell">Ataque</div>
        <div class="cell">Defensa</div>
        <div class="cell">Acciones</div>
      </div>

      <div class="row" *ngFor="let pokemon of pokemonsList; let idx=index">
        <div class="cell" data-title="Nombre">
          {{pokemon.name}}
        </div>
        <div class="cell" data-title="Imagen">
          <a [href]="pokemon.image" target="_blank"><img [src]="pokemon.image"></a>
        </div>
        <div class="cell" data-title="Ataque">
          {{pokemon.attack}}
        </div>
        <div class="cell" data-title="Defensa">
          {{pokemon.defense}}
        </div>
        <div class="cell" data-title="Acciones">
          <a routerLink="/edit/{{pokemon.id}}">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.404,6.65l-5.998-5.996c-0.292-0.292-0.765-0.292-1.056,0l-2.22,2.22l-8.311,8.313l-0.003,0.001v0.003l-0.161,0.161c-0.114,0.112-0.187,0.258-0.21,0.417l-1.059,7.051c-0.035,0.233,0.044,0.47,0.21,0.639c0.143,0.14,0.333,0.219,0.528,0.219c0.038,0,0.073-0.003,0.111-0.009l7.054-1.055c0.158-0.025,0.306-0.098,0.417-0.211l8.478-8.476l2.22-2.22C19.695,7.414,19.695,6.941,19.404,6.65z M8.341,16.656l-0.989-0.99l7.258-7.258l0.989,0.99L8.341,16.656z M2.332,15.919l0.411-2.748l4.143,4.143l-2.748,0.41L2.332,15.919z M13.554,7.351L6.296,14.61l-0.849-0.848l7.259-7.258l0.423,0.424L13.554,7.351zM10.658,4.457l0.992,0.99l-7.259,7.258L3.4,11.715L10.658,4.457z M16.656,8.342l-1.517-1.517V6.823h-0.003l-0.951-0.951l-2.471-2.471l1.164-1.164l4.942,4.94L16.656,8.342z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          </a>
          <a routerLink="/delete/{{pokemon.id}}">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.083,8.25H5.917v7h1.167V8.25z M18.75,3h-5.834V1.25c0-0.323-0.262-0.583-0.582-0.583H7.667 c-0.322,0-0.583,0.261-0.583,0.583V3H1.25C0.928,3,0.667,3.261,0.667,3.583c0,0.323,0.261,0.583,0.583,0.583h1.167v14 c0,0.644,0.522,1.166,1.167,1.166h12.833c0.645,0,1.168-0.522,1.168-1.166v-14h1.166c0.322,0,0.584-0.261,0.584-0.583 C19.334,3.261,19.072,3,18.75,3z M8.25,1.833h3.5V3h-3.5V1.833z M16.416,17.584c0,0.322-0.262,0.583-0.582,0.583H4.167 c-0.322,0-0.583-0.261-0.583-0.583V4.167h12.833V17.584z M14.084,8.25h-1.168v7h1.168V8.25z M10.583,7.083H9.417v8.167h1.167V7.083 z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          </a>
        </div>
      </div>
    </div> 
  </div>

  <!-- Crud components -->
  <div class="card-container">
    <router-outlet></router-outlet>
  </div>


  <!-- Footer -->
  <footer>
      
  </footer>

</div>


