<div class="secondary-container">
  <p>Nuevo Pokemon</p>
  <form [formGroup]="newPokemonForm" id="newPokemonForm" >
    <div class="row">
      <div class="col">
        <label>
          <span>Nombre:</span>
          <input
            type="text"
            placeholder="Nombre"
            formControlName="name">
        </label>
        <div *ngIf="newPokemonForm.get('name').hasError('required')" class="alert alert-danger form-danger" role="alert">
          *Campo obligatorio
        </div>
        <label>
          <span>Imagen:</span>
          <input
            type="text"
            placeholder="Url de la imagen"
            formControlName="image"
            pattern="http(s?)(:\/\/)((www.)?)(([^.]+)\.)?([a-zA-z0-9\-_]+)(.com|.net|.gov|.org|.in|.store)(\/[^\s]*)?">
        </label>
        <div *ngIf="newPokemonForm.get('image').hasError('required')" class="alert alert-danger form-danger" role="alert">
          *Campo obligatorio
        </div>
        <div *ngIf="newPokemonForm.get('image').hasError('pattern')" class="alert alert-danger form-danger" role="alert">
          *Debe ingresar la url de una imagen
        </div>
      </div>
      <div class="col">
        <label>
          <span>Ataque:</span> <span>{{newPokemonForm.get('attack').value}}</span>
          <div class="slidecontainer">
            <input type="range" 
              min="0" max="100"
              class="slider"
              formControlName="attack">
          </div>
          <!-- <input
            type="number"
            placeholder="Valor entre 0 - 100"
            formControlName="attack" min="0" max="100"> -->
        </label>
        <div *ngIf="newPokemonForm.get('attack').hasError('required')" class="alert alert-danger form-danger" role="alert">
          *Campo obligatorio
        </div>
        <div *ngIf="newPokemonForm.get('attack').hasError('min')" class="alert alert-danger form-danger" role="alert">
          *El valor permitido debe ser igual o superior a 0
        </div>
        <div *ngIf="newPokemonForm.get('attack').hasError('max')" class="alert alert-danger form-danger" role="alert">
          *El valor permitido debe ser igual o menor a 100
        </div>
        <label>
          <span>Defensa:</span><span>{{newPokemonForm.get('defense').value}}</span>
          <div class="slidecontainer">
            <input type="range"
              min="0"
              max="100"
              class="slider"
              formControlName="defense">
          </div>
          <!-- <input
            type="number"
            placeholder="Valor entre 0 - 100"
            formControlName="defense" min="0" max="100"> -->
        </label>
        <div *ngIf="newPokemonForm.get('defense').hasError('required')" class="alert alert-danger form-danger" role="alert">
          *Campo obligatorio
        </div>
        <div *ngIf="newPokemonForm.get('defense').hasError('min')" class="alert alert-danger form-danger" role="alert">
          *El valor permitido debe ser igual o superior a 0
        </div>
        <div *ngIf="newPokemonForm.get('defense').hasError('max')" class="alert alert-danger form-danger" role="alert">
          *El valor permitido debe ser igual o menor a 100
        </div>
      </div>
      <div class="actions">
        <button (click)="onSubmit()" class="card card-small btn-primary" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.197,16.963H7.195c-0.204,0-0.399-0.083-0.544-0.227l-6.039-6.082c-0.3-0.302-0.297-0.788,0.003-1.087 C0.919,9.266,1.404,9.269,1.702,9.57l5.495,5.536L18.221,4.083c0.301-0.301,0.787-0.301,1.087,0c0.301,0.3,0.301,0.787,0,1.087 L7.741,16.738C7.596,16.882,7.401,16.963,7.197,16.963z"/></svg>
          <span>Guardar</span>
        </button>
        <button (click)="goToMainPage()" class="card card-small btn-secondary" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.271,9.212H3.615l4.184-4.184c0.306-0.306,0.306-0.801,0-1.107c-0.306-0.306-0.801-0.306-1.107,0 L1.21,9.403C1.194,9.417,1.174,9.421,1.158,9.437c-0.181,0.181-0.242,0.425-0.209,0.66c0.005,0.038,0.012,0.071,0.022,0.109 c0.028,0.098,0.075,0.188,0.142,0.271c0.021,0.026,0.021,0.061,0.045,0.085c0.015,0.016,0.034,0.02,0.05,0.033l5.484,5.483 c0.306,0.307,0.801,0.307,1.107,0c0.306-0.305,0.306-0.801,0-1.105l-4.184-4.185h14.656c0.436,0,0.788-0.353,0.788-0.788 S18.707,9.212,18.271,9.212z"/></svg>
          <span>Cancelar</span>
        </button>
      </div>
    </div>
  </form>
</div>