/* You can add global styles to this file, and also import other style files */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

div {
    box-sizing: border-box;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    justify-content: center;
}

.toolbar img {
    width: 120px;
    margin: 0 16px;
}

.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

svg.material-icons {
    height: 24px;
    width: auto;
}

svg.material-icons:not(:last-child) {
    margin-right: 8px;
}

.card svg.material-icons path {
    fill: #888;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
}

input[type=text], input[type=number]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-container .card:not(:last-child) {
    margin-right: 0;
}

.card.card-small {
    height: 16px;
    width: 168px;
}

.card-container .card {
    cursor: pointer;
}

.card-container .card:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .05);    
}

.card-container .card:hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.btn-primary {
    color: #fff;
    background-color: #1976d2;
    border-color: #125699;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary svg.material-icons path,
.btn-primary:hover svg.material-icons path {
    fill: #fff!important;
}

.btn-secondary {
  border-color: #bdbcbc;
}

a,
a:visited,
a:hover {
    color: #125699;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
}

footer a {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .card-container {
        width: 100%;
    }

    .card {
        height: 16px;
        margin: 8px 0;
    }
}

@media screen and (max-width: 580px) {
  .card-container {
    display: contents;
  }
}

/*
* Contenedores de componentes secundario
*/
.secondary-container {
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 1rem 3rem;
    // display: flex;
    text-align: center;
    width: 100%;
}

.row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 1rem;
    justify-content: center;
}

.row .col {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row .col label {
    display: flex;
    align-items: center;
    min-height: 60px;
}

.row .col label span {
    width: 100px;
    text-align: left;
}

.actions {
    display: flex;
}

@media screen and (max-width: 580px) {
  .row .col {
    width: 100%;
    display: contents;
  }
}

/*
form control
*/
.alert {
  text-align: left;
  font-size: small;
  color: #ff5252;
  padding-left: 80px;
  margin-top: -0.5rem;
}

/*
slider control
*/
.slidecontainer {
  width: 100%; 
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #125699;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #125699;
  cursor: pointer;
}